<!DOCTYPE html>
<html lang="es">
  <head>
    <title>Upload file</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="/static/css/style.css" rel="stylesheet" type="text/css">
  </head>
  <body>
    <div class="container">
      <h2><u><i>Upload a file</i></u></h2>
      <form action="store" id="form" method="GET">
      <input class="off" type="file" name="myFile" accept=".xls,.xlsx,.xml,application/vnd.openxmlformats-officedocument.spreadsheetml.sheet"/>
      <br />
      <br />
      <input class="on" id=" submit" type="submit" />
      </form>
    </div>
  </body>
</html>
