table, th, td {
  border: 1px solid black;
  border-collapse: collapse;
  padding: 5px;
}
button{
  padding: 10px;
  background-color: palegreen;
  font-family: "Arial Black", serif;
  font-size: 2em;
  border-radius: 5px;
  margin-left: 30px;
}